<li id="photo_<%= photo.id %>">

  <%= image_tag photo.pic.url(:thumb) %> <br>
  <%= photo.caption %> <br>
  <% if @property.user_id == current_user.id %>
    <%= link_to "(delete)", property_photo_path(@property, photo), method: :delete, data: {confirm: "Are you sure?"}, remote: true %>
  <% end %>

</li>
